.Hero_page_container{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    position: relative;
}
.Hero_page_container::before{
    content: '';
    /*background-image: url(../svg/background/gradient1/enhancedImageFinal.png);*/
    background-color: black;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.Hero_heading{
    font-family: 'Open Sans';
    font-size: 50px; 
    padding: 10px 20px 0px 20px;
    color: white;
}
.Heading_small{
    font-family: 'Open Sans';
    font-size: 13px;
    color: white;
    padding: 5px 10px 0px 20px;
}
.Text_container{
    background-color: rgba(255, 0, 0, 0);
    height: 100%;
}
.Picture_container{
    background-color: blue;
    height: 100%;
}

.btn-container {
    display: inline-block;
    justify-content: center;
    --color-text: #ffffff;
    --color-background: #ff0c85;
    --color-outline: #ff145b80;
    --color-shadow: #00000080;
  }
  
  .btn-content {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: var(--color-text);
    background: var(--color-background);
    transition: 1s;
    border-radius: 100px;
    box-shadow: 0 0 0.2em 0 var(--color-background);
  }
  
  .btn-content:hover, .btn-content:focus {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 var(--color-background);
    
  }
  
  .btn-content .icon-arrow {
    transition: 0.5s;
    margin-right: 0px;
    transform: scale(0.5);
  }
  
  .btn-content:hover .icon-arrow {
    transition: 0.5s;
    margin-right: 25px;
  }
  
  .icon-arrow {
    width: 20px;
    margin-left: 15px;
    position: relative;
    top: 6%;
  }
    
  /* SVG */
  #arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
  }
  
  #arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
  }
  
  .btn-content:hover #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
  }
  
  .btn-content:hover #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }
  
  .btn-content:hover #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  @keyframes color_anim {
    0% {
      fill: white;
    }
  
    50% {
      fill: var(--color-background);
    }
  
    100% {
      fill: white;
    }
  }
  
  /* Button animations */
  @-webkit-keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
  
  @keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
  .About_button {
    background-color: rgb(41, 41, 41);
    align-items: center;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    padding: 1rem;
    border-radius: 30px;
    padding: 10px;
    font-size: 12px;
  }
  
  .About_button:before {
    content: "";
    display: inline-block;
    height: 1px;
    margin-right: 10px;
    transition: all .42s cubic-bezier(.25,.8,.25,1);
    width: 0;
  }
  
  .About_button:hover:before {
    background-color: #ffffff;
    width: 3rem;
  }

  .Hero_button_section{
    padding: 100px 0 0 5%;
    display: grid;
    grid-template-columns: 130px 180px;
    column-gap: 50px;
  }